<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h2>Produtos Cadastradas</h2>
    <a th:href="@{/nova}">Novo Produto</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Estação</th>
            <th>Sexo</th>
            <th>Valor</th>
        </tr>
        <tr th:each="p : ${produtos}">
            <td th:text="${p.produtoId}"></td>
            <td th:text="${p.produtoDescricao}"></td>
            <td th:text="${p.produtoEstacao}"></td>
            <td th:text="${p.produtoSexo}"></td>
            <td th:text="${p.produtoValor}"></td>
            <td>
                <a th:href="@{'/edit/' + ${p.produtoId}}">Editar</a> |
                <a th:href="@{'/delete/' + ${p.produtoId}}">Deletar</a>
            </td>
        </tr>
    </table>
</body>
</html>